.App {
  background-color: #443e3e33;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.App .comp-cont {
  width: 80vw;
  margin: 10vh auto;
}
.App .flex-box {
  display: flex;
  flex-wrap: wrap;
}
.App .flex-box .Income,
.App .flex-box .Expense {
  margin-top: 30px;
  flex: 1;
  /* text-align: center; */
  /* border: 1px solid black; */
}
.App .flex-box .Income *,
.App .flex-box .Expense *{
  /* margin-left: 0px !important; */
  /* border: 1px solid black; */
}
.App .flex-box input {
  margin: 10px 10px;

  padding: 5px;
  border: 0px;
  height: 30px;
  outline: none;
  border-bottom: 1px solid black;
}
.App .flex-box input:focus {
  border-bottom: 1px solid blue;
}
.App .desc {
  width: 20vw;
  min-width: 164px;
}
.App .amount {
  min-width: 48px;
  width: 5vw;
}
.App button {
  min-width: 48px;
  margin: 0px 10px;
  outline: none;
  padding: 5px;
  height: 40px;
  width: 9vw;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s all;
}
.App button:active {
  transform: scale(1.1);
}
.App button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
.App .display-container {
  margin: 20px 0px;
  /* padding: 10px; */
}

.App .display-flex-box {
  margin: 10px 0;
  /* background-color: white; */
  /* padding: 5px; */
  display: flex;
  /* width: 80vw; */
}
.App .income-display {
  flex: 1;
}
.App .expense-display {
  flex: 1;
}
.App .transaction-display {
  /* background-color: white; */
  /* background-color: white; */
  display: flex;
  flex-wrap: wrap;
}
.transaction-display .desc-display {
  margin: 10px;
  background-color: white;
  height: 30px;
  width: 20vw;
  padding: 5px;
  min-width: 164px;
  /* flex: 4; */
}
.transaction-display .amount-display {
  height: 30px;
  margin: 10px;
  /* flex: 2; */
  background-color: white;
  width: 5vw;
  min-width: 48px;
  padding: 5px;
}
.transaction-display .cross {
  margin: 10px 0px;
  min-width: 48px;
  width: 6vw;
  height: 30px;
  padding: 9px 5px 1px 5px;
  background-color: white;
  color: red;

  cursor: pointer;
  /* margin: 10px; */
  /* flex: 1; */
  transition: all 0.3s;
  text-align: center;
}
.transaction-display .cross:hover {
  background-color: red;
  color: white;
}
.transaction-display .cross:active {
  transform: scale(1.1);
}

/* .App .info-flex {
  display: flex;
} */
.total-heading {
  font-size: 24px;
  font-weight: 600;
}
.total-amount {
  font-size: 24px;
  font-weight: 600;
}
.info-display{
  display: flex;
}
.info-display .total-income {
  margin: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  flex: 1;
}
.info-display .total-expense {
  padding: 10px;
  display: flex;
  margin: 10px;
  flex: 1;
  background-color: white;
  text-align: center;
}

/* .total-expense *{
  color: red;
}
.total-savings *{
  color: blue;
}.total-income *{
  color: green;
} */
.total-savings {
  padding: 10px;
  text-align: center;
  display: flex;
  margin: 10px;
  background-color: white;
}
.total-income *,
.total-expense *,
.total-savings * {
  flex: 1;
}
